<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MascotaFeliz.App.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       <section id="header">

        <ul class="nav">
            <li><a href="/Index">Inicio</a></li>

            <li><a href="#">Registro</a>
                <ul>
                    <li><a href="/Mascotas/ModificaMascota">Registro Mascota</a></li>
                    <li><a href="/Duenos/ModificaDueno">Registro Propietario</a></li>
                    <li><a href="/Veterinarios/ModificaVeterinario">Registro Veterinario</a></li>
                    <li><a href="#">Registro Historia Clinica</a></li>
                    <li><a href="#">Registro Visita</a></li>
                </ul>
            </li>

            <!--
            <li><a href="">Consulta</a>
                <ul>
                    <li><a href="ConsultaMascotas.html">Consulta Mascota</a></li>
                    <li><a href="ConsultaPropietario.html">Consulta Propietario</a></li>
                    <li><a href="ConsultaVeterinario.html">Consulta Veterinario</a></li>
                    <li><a href="ConsultaHistoria.html">Consulta Historia Clinica</a></li>
                    <li><a href="ConsultaVisita.html">Consulta Visita</a></li>
                </ul>
            </li>
            

            <li><a href="#">Modificar/Eliminar</a>
                <ul>
                    <li><a href="ModificarMascota.html">Mascota</a></li>
                    <li><a href="ModificarPropietario.html">Propietario</a></li>
                    <li><a href="ModificarVeterinario.html">Veterinario</a></li>
                    <li><a href="ModificarHistoria.html">Historia Clinica</a></li>
                    <li><a href="ModificarVisita.html">Visita</a></li>
                </ul>
            </li>

            -->

            <li><a href="#">Listar</a>
                <ul>
                    <li><a href="/Mascotas/ListaMascotas">Listar Mascotas</a></li>
                    <li><a href="/Duenos/ListaDuenos">Listar Propietarios</a></li>
                    <li><a href="/Veterinarios/ListaVeterinarios">Listar Veterinarios</a></li>
                    <li><a href="#">Listar Historias</a></li>
                </ul>
            </li>

           
        </ul>
        <br>
    </section>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
