@page
@model MascotaFeliz.App.Frontend.Pages.ConsultaHistoriaModel
@{
}

<h1>Consulta de Historia</h1>
<div>Id: @Model.historia.Id</div>
<div>Fecha de creacion: @Model.historia.FechaInicial</div>
<h2>Visitas asignadas a esta historia</h2>

<table class = "table">
    <tr>
        <th>Id de Visita</th>
        <th>Fecha</th>
        <th>Veterinario</th>
        <th>Acción</th>
    </tr>

</table>